{% extends 'NicoBlogBundle::layout.html.twig' %}

{% block title %}About{% endblock%}

{% block body %}
    <header>
        <h1>Contact symblog</h1>
    </header>
    <article>
        <p>1 rue des oiseaux
        
        Donec imperdiet ante sed diam consequat et dictum erat faucibus. Aliquam sit
        posuere cubilia Curae.</p>
    </article>
{% endblock %}
